template(name='feed')
    .container-fluid
      .row
        .col-md-4.col-md-offset-3
         .post-feed
          .form-group
            textarea#feedContent.form-control(rows="1", name='feedContent', value='', placeholder="Share something")
          .clearfix
            button.btn.btn-success.btn-sm.post.pull-right(type='submit') Add
      .row
        .col-md-4.col-md-offset-3
          ul#feed-container.media-list
           each Feeds
            li.media
               a.pull-left(href='#')
                 img.media-object(src='http://placehold.it/48x48', alt='...')
               .author
                 a(href="#") #{author} 
                 br
                 small.text-muted(data-livestamp="{{postedAt}}")
               .clearfix
               .media-body(style="padding-top: 8px;")
                 p #{content}
               .comments
                each comments
                 li.media
                  a.pull-left(href='#')
                   img.media-object(src='http://placehold.it/32x32', alt='...')
                  .media-body
                   a(style="margin-right:5px;") #{author}
                   span #{content}
                   br
                   small.text-muted(data-livestamp="{{postedAt}}")
                .media.comment
                 a.pull-left(href='#')
                  img.media-object(src='http://placehold.it/34x34', alt='...')
                 .comment-input
                  textarea.form-control(id="comment_{{_id}}", data-feedItem="{{_id}}", rows="1", placeholder="Write a comment") 
