template(name="signup")
 .container
  .row
   .col-md-6.col-md-offset-3
    .panel.panel-default
     .panel-heading 
      span Signup
     .panel-body
      .form-group
        input.form-control(type="email", placeholder="Email")
      .form-group
        input.form-control(type="password", placeholder="Password")
      .form-group
        button.btn.btn-warning.pull-right Signup
      