template(name="welcome")
 .uk-vertical-align.uk-text-center.uk-height-1-1.blue-content
    .uk-vertical-align-middle(style='width: 250px;')
     h3.uk-text-white Welcome to Hembu!
     img.uk-margin-bottom(src="/images/apartment-block.svg")
     .uk-panel.uk-panel-box        
        form.uk-form
            input#address(type="text")
            button.uk-button.uk-button-primary.uk-margin-top#create Create
            #map.uk-margin-top(style="height:220px;width:220px;")
