/* Constants
------------------------------------------------------------------------*/

@blue: #00bff0;
@darkblue: #00b2ed;
@lightblue: #488dc8;
@slate: #4b5166;
@bluegrey: #d3d7e5;
@kerma: #fcfbf7;


/* CSS declarations go here */
html, body {
    height:100%;
    background-color:@kerma !important;
}
.media-body > span, p {
    word-wrap: break-word;
}
.media-list > li {
    padding: 4px;
    border: 1px solid #d8d8d8;
    >.comments{
        border-top: 1px solid #ccc;
        margin: -4px;
        padding: 8px;
        background-color:#efe;
        >.comment{
            > a {
                margin-right: 8px;
            }
            > .comment-input{
               padding-left: 42px;
               >textarea{
                   resize:vertical;
               }
            }
        }
    }
}
.post-feed, .comment-feed{
    border: 1px solid #d8d8d8;
    padding: 8px;
    margin-bottom: 15px;
    textarea {
        resize: vertical;
    }
}


/* Fonts
------------------------------------------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600);


/* Links
------------------------------------------------------------------------*/

a.board {
  color:inherit;
  font-weight:600;

  &:hover {
    color:#ef6e7e;
  }
}

a.user {
  color:@lightblue;
  font-weight:600;

  &:hover {
    color:#00bff0;
  }
}


/* Header
------------------------------------------------------------------------*/

.uk-navbar {
	background:@blue !important;
	height:70px !important;
	font-family:'Titillium Web', Helvetica, Arial, sans-serif;
	font-size:1.1em;
  font-weight:300;

	a {
		color:#fff;
		&:hover {
			color:#fff;
			text-decoration:none;
		}
	}
}

.uk-navbar-flip {
	&:hover {
		background:@darkblue !important;
	}
}

.uk-navbar-content, .uk-navbar-toggle{
	height:70px !important;
}

.header-logo {
	width:auto;
	height:20px;
	margin:25px 15px;
}

.header-icon {
  width:auto;
  height:30px;
  margin:20px 15px;
}

.header-user-pic {
	width:auto;
	height:42px;
	margin-top:-11px;
	border-radius:8px;
	position:absolute;
	right:20px;
}

.header-user-menu {
	position:absolute;
	top:0;
	right:0;
	padding:0;
	/*border-bottom-right-radius:8px;
	border-bottom-left-radius:8px;*/
	overflow:hidden;
	background:@blue;
	color:#fff;
}

/* User Menu
------------------------------------------------------------------------*/

ul.user-menu {
	list-style-type:none;
	margin:0 20px;
	padding:0;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

	li {
		padding:25px 86px 25px 6px;
		border-bottom:1px solid @darkblue;

		&:hover {
      padding:26px 106px 25px 26px;
      margin:-1px -20px 0 -20px;
			background-color:@darkblue;
		}
	}

	&:last-child {
		border-bottom:none;
	}

	.user-menu-head {
    padding:25px 0 25px 0;
		width:100%;
    text-indent:6px;

		&:hover {
			border-color:@blue;
			cursor:pointer;
      padding:25px 20px 25px 20px;
      margin:0 -20px;
		}
	}

  .user-menu-item {
    background-position:right 6px center;
    background-size:auto 20pt;
    background-repeat:no-repeat;

    &:hover {
      background-position:right 26px center;
    }
  }

	.menu-item-address {
		background-image:url(/images/icons/address-icon.svg);
	}

	.menu-item-bookings {
		background-image:url(/images/icons/bookings-icon.svg);
	}

	.menu-item-profile {
		background-image:url(/images/icons/user-icon.svg);
	}

	.menu-item-logout {
		background-image:url(/images/icons/logout-icon.svg);
	}
}

.user-menu-closed {
	height:70px;
}

.user-menu-open {
	height:auto;
}


/* Content - Feed
------------------------------------------------------------------------*/

#feed-container {
  padding:0 35px 35px 35px;
  color:@slate !important;
}

.uk-comment-list {
  li {
    border-bottom: 1px solid #eee;
    padding:2.1em 0 1.9em 0;
  }

  li.feed-header {
    font-family:'Titillium Web', Helvetica, Arial, sans-serif;
    font-size:4.6em;
    font-weight:300;
    line-height:1 !important;
    padding:0 0 0.8em 0;
    margin-bottom:0.4em;
  }
}

.feed-header-settings {
  font-family:'Titillium Web', Helvetica, Arial, sans-serif;
  font-size:0.333em;
  font-weight:300;
  line-height:3.5 !important;
  vertical-align:bottom;
  float:right;
  color:@bluegrey;
}

.notice-pin {
  content:'';
  width:16px;
  height:16px;
  float:right;
  border-radius:16px;
  border:2px solid @bluegrey;
  margin-left:25px;
  margin-top:0.6em;
  cursor: pointer;
  color: transparent;
  outline: none;

  &:hover {
    cursor:pointer;
    background:@bluegrey;
  }
}

.unpinned {
  background:none;

  &:hover {
    cursor:pointer;
    background:@bluegrey;
  }
}

.pinned {
  background:@bluegrey;

  &:hover {
    background:none;
  }
}

.uk-comment {
  padding-right:50px;
}

.notice-headline {
  font-family:'Titillium Web', Helvetica, Arial, sans-serif;
  font-size:2.2em;
  font-weight:400;
  line-height:1.2em !important;
  margin-bottom:0.4em;
}

.uk-comment-meta {
  font-family:'Titillium Web', Helvetica, Arial, sans-serif;
  font-size:1.0em !important;
  font-weight:300;
  line-height:2.4em !important;
  width:100%;
  color:@slate !important;
}

.uk-comment-avatar {
  float:none !important;
  display:inline;
  margin:0 6px !important;
  border-radius:3px;
  margin-top:-3px !important;
}


/* Content - New Notice
------------------------------------------------------------------------*/

#new-notice-wrapper {
  padding:0 30px 20px 30px;

  input,
  textarea {
    width:100%;
    height:auto;
    font-family:'Titillium Web', Helvetica, Arial, sans-serif;
    border:none;
    background:none;
    resize:none;
  }

  ::-webkit-input-placeholder {
     color: inherit;
     opacity:0.8;
  }
  :-moz-placeholder {
     color: inherit;
     opacity:0.8;
  }
  ::-moz-placeholder {
     color: inherit;
     opacity:0.8;
  }
  :-ms-input-placeholder {
     color: inherit;
     opacity:0.8;
  }

  input:focus::-webkit-input-placeholder,
  textarea:focus::-webkit-input-placeholder {
     opacity:0.1;
  }
  input:focus:-moz-placeholder,
  textarea:focus:-moz-placeholder {
     opacity:0.1;
  }
  input:focus::-moz-placeholder,
  textarea:focus::-moz-placeholder {
     opacity:0.1;
  }
  input:focus:-ms-input-placeholder,
  textarea:focus:-ms-input-placeholder {
     opacity:0.1;
  }
}

#noticeHeadline {
  font-size:2.6em;
  font-weight:400;
  margin-bottom:1.2em;
  padding-bottom:1.2em;
  border-bottom:1px solid #eee !important;
}

#noticeContent {
  font-size:1.4em;
  font-weight:200;
}

#new-notice-options {
  width:100%;
  background:@kerma;
  position:fixed;
  bottom:0;
  left:0;
  margin:2.4em 0;
}

#new-notice-options-wrapper {
  position:static;
  clear:left;
  margin:0 30px;
  padding:2.4em 0;
  border-top:1px solid #eee !important;
}

#pin-button {
  background-color:@blue;
  color:#fff;
  &:hover {
    background-color:@darkblue;
  }
}

#board-buttons {
  position:absolute;
  overflow:auto;
  overflow-y:hidden;
  bottom:0;
  padding:0;
  margin:0;
  .board-button {
    display:block;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    -o-user-select: none;
    user-select: none;
    text-align:left;
    padding:0 14px 0 12px;
    background-color:rgba(255,117,133,1) !important;
    color:#fff !important;
    &:hover {
      background-color:rgba(255,117,133,0.85) !important;
      cursor:pointer !important;
    }
  }
}

.board-buttons-closed {
  height:30px;
}

.board-buttons-open {
  height:auto;
}

