template(name="login")
  .animated.fadeIn.uk-vertical-align.uk-text-center.uk-height-1-1
    .uk-vertical-align-middle(style='width: 250px;')
     img.uk-margin-bottom(src="/images/apartment-block.svg")
     .uk-panel.uk-panel-box
        button.uk-button.uk-button-large.uk-button-primary.uk-width-1-1.uk-margin-bottom#facebook 
         i.uk-icon-facebook
         |&nbsp;Login
         
        button.uk-button.uk-button-large.uk-button-danger.uk-width-1-1.uk-margin-bottom#google 
         i.uk-icon-google-plus
         |&nbsp;Login
         
        form#login.uk-form
          .uk-form-row
            input#login-email.uk-width-1-1.uk-form-large(type='text', placeholder='Email')
          .uk-form-row
            input#login-password.uk-width-1-1.uk-form-large(type='text', placeholder='Password')
          .uk-form-row
            button.uk-width-1-1.uk-button.uk-button-success.uk-button-large Login
          .uk-form-row.uk-text-small
            label.uk-float-left
              input(type='checkbox')
              | Remember Me
          .uk-form-row.uk-text-small
            a.uk-float-right.uk-link.uk-link-muted(href='#') Forgot Password?
            a.uk-link(href="{{pathFor 'signup'}}") No Account?        
