template(name="addressesCreate")
 .uk-container.uk-container-center
  h1 Foobar create new address fancy form, should include create new or send noninvitation
  form.uk-form
    input#address(type="text")
    button.uk-button.uk-button-primary#create Create