template(name="facilitiesCreate")
 .uk-container.uk-container-center
  h1 Foobar create new facility fancy form
  form.uk-form
    input#name(type="text")
    button.uk-button.uk-button-primary#create Create