template(name='post')
  .uk-width-1-1.uk-container-center
    nav.uk-navbar.uk-margin-large-bottom
      .uk-navbar-brand
        img.header-icon(src="/images/icons/write-icon.svg")
      ul.uk-navbar-nav.uk-hidden-small
      .uk-navbar-flip
        .header-user-menu
         ul.user-menu.user-menu-closed
          li#back-button.user-menu-head
            <i class="uk-icon-times" style="color:white;"></i>
    #notice-wrapper
      form.uk-form
        input#noticeHeadline(rows="1", name='noticeHeadline', value='', placeholder="Write a catchy headline...")
        textarea#noticeContent(rows="8", name='noticeContent', value='', placeholder="type some text or drop an image here...")
        #new-notice-options
          #new-notice-options-wrapper
            //#board-button.uk-button.uk-float-left(type='button') Noticeboard
            ul#board-buttons.board-buttons-closed
              //li.board-button.uk-button Pin to...
              each boards
                li(data-board-id= "#{_id}" class="board-button #{ui.accentColour}").uk-button #{name}
            button#pin-button.uk-button.uk-float-right.post(type='submit') Pin me up Buttercup
