template(name='feed')
    ul#feed-container.uk-comment-list
           li.feed-header #{title}
            .feed-header-settings
             | settings
           each notices
            li
             
             input.notice-pin(class="{{pinnedClass}}", data-notice="{{_id}}", data-uk-datepicker="{format:'YYYY-MM-DD'}")
             article.uk-comment
              .uk-comment-body
                p.notice-headline #{headline}
              header.uk-comment-header
               .uk-comment-meta
                 | Posted
                 span(data-livestamp="{{postedAt}}")
                 | to
                 with board
                  a(href='#' class='board') #{name}
                 | by
                 a(href='#')
                  img.uk-comment-avatar(src='/api/avatar/{{author._id}}', alt='...')
                 a(href="#" class='user') #{author.name}
         
