template(name='feed')
    ul#feed-container.uk-comment-list
           li.feed-header #{title}
            .feed-header-settings
             | settings
           each notices
            li
             .notice-pin(class="{{pinnedClass}}")
             article.uk-comment
              .uk-comment-body
                p.notice-headline #{headline}
              header.uk-comment-header
               .uk-comment-meta
                 | Posted
                 span(data-livestamp="{{postedAt}}")
                 | to
                 with board
                  a(href='#' class='board') #{name}
                 | by
                 a(href='#')
                  //TODO get author avatar from notice data
                  img.uk-comment-avatar(src='http://placehold.it/16x16', alt='...')
                 a(href="#" class='user') #{author}
         
