template(name="menu")
 nav.uk-navbar.uk-margin-large-bottom
    a.uk-navbar-brand.uk-hidden-small(href="{{pathFor 'home'}}") Hembu
    ul.uk-navbar-nav.uk-hidden-small
        li.uk-active
          a(href="{{pathFor 'home'}}") Home
        li
          a(href="{{pathFor 'logout'}}") Logout
    a.uk-navbar-toggle.uk-visible-small(href='#offcanvas', data-uk-offcanvas)
    a.uk-navbar-brand.uk-navbar-center.uk-visible-small(href="{{pathFor 'home'}}") Hembu
 #offcanvas.uk-offcanvas
  .uk-offcanvas-bar
   ul.uk-nav.uk-nav-offcanvas
    li.uk-active
      a(href="{{pathFor 'home'}}") Home
    li
      a(href="{{pathFor 'logout'}}") Logout
