template(name="menu")
 nav.uk-navbar.uk-margin-large-bottom
    a.uk-navbar-toggle(href='#offcanvas', data-uk-offcanvas)
    a.uk-navbar-brand(href="{{address}}")
      img.header-logo(src="/images/hembu-logo.svg")
    .uk-navbar-flip
       .header-user-menu
        ul.user-menu.user-menu-closed
         li.user-menu-head
          | #{profile.name}
          img.header-user-pic(src="/api/avatar/{{currentUser._id}}")
         a(href="#")
          each addresses
           li.user-menu-item.menu-item-address
            | #{display}
         a(href="#")
          li.user-menu-item.menu-item-bookings
           | Bookings
         a(href="{{pathFor 'profile'}}")
          li.user-menu-item.menu-item-profile
           | Profile
         a(href="{{pathFor 'logout'}}")
          li.user-menu-item.menu-item-logout
           | Log out
    .uk-navbar-flip
       a(href="{{postUrl}}") 
        img.header-icon(src="/images/icons/write-icon.svg")
 #offcanvas.uk-offcanvas(style="background: transparent;")
  .uk-offcanvas-bar
   ul.uk-nav.uk-nav-offcanvas
    li
      a.boards-menu-item.menu-item-post(href="{{postUrl}}") Create New Notice
    each boards
     li
      a.boards-menu-item.menu-item-board(href="{{url}}") #{name}
     
