template(name='landing')
 .landing-page
  .uk-container.uk-container-center
   .uk-grid.uk-margin-large-top
    .uk-width-1-1
     .uk-align-right
      a.uk-button.login(href="/login") log in
   .uk-grid
    .uk-width-1-1.uk-text-center
     img.uk-align-center(src="/images/hembu-logo.svg", style="display:block;")
     h3.uk-text-white news and notifications from your apartment block
     a.uk-button.signup(href="/signup") sign up
   .uk-grid.uk-margin-large-top
    .uk-width-1-1.uk-text-center
     img(src="/images/apartment-block.svg", style="height:400px;")
